</body>
<footer class ="foot"> 
	<div class="container">
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-4">
			<p>Darshan Reddy - S530669</p></div>
			<div class="col-md-3"></div>
		</div>
    </div>
    </footer>
</html>
    