
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css"
      rel="stylesheet"
	  href="Chilakala_DarshanReddy.css"/>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <title> Darshan Reddy </title>
    </head>
<body>
	<div class ="container">
		<div class="page-header">
	 	<div class="row">
				<div class="col-md-2">
						<h1>A02Darshan</h1>
					</div>
			<div class="col-md-1">
				<a class="active" href="home">Home</a></div>
			<div class="col-md-2">
				<a class="active" href="calculate">Calculate</a></div>
			<div class="col-md-2">
				<a class="active" href="contact">Contact</a></div>
			<div class="col-md-2">
					<a class="active" href="guestbook">GuestBook</a></div>
					
			<div class="col-md-3">
				<a href="https://bitbucket.org/S530669/" class="fa fa-bitbucket"></a>
				<a href="https://github.com/S530669" class="fa fa-github"></a>
				 <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
				<a href="https://www.facebook.com/darshan.reddy.714" class="fa fa-facebook"></a>
			</div>
		 </div>
    </div>
<h1>
	Darshan's GuestBook
	<a href="/new-entry" class="btn btn-primary pull-right">
		Write in the guestbook
	</a>
</h1>
</body>
</html>